@model ChatViewModel
@{
    this.ViewBag.Title = "Chat";
    Layout = "/Views/Shared/_LayoutEmpty.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/assets/css/chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
}

<div class="chat" style="display: flex; justify-content: center; flex-direction: column-reverse;">

    <form class="contact-form-1 rwt-dynamic-form">
        <div class="form-group">
            <select id="group">
                <option value="">Select Chat</option>
                <option value="global">Global Chat</option>
                @foreach (var item in Model.TripsIds)
                {
                    var id = $"PrivateGroup#{item}";

                    <option value=@item>@id</option>
                }

            </select>

            <textarea name="message" id="message" placeholder="Type message" style="margin-top:10px; max-height:100px!important;"></textarea>
            <div style="display:flex; justify-content:center; margin-top:10px;">
                <button type="submit" id="sendButton" class="btn-default btn-large rn-btn"
                        style="background-color: #FF3CAC; cursor: pointer;">
                    <span>Send Message</span>
                </button>
            </div>
        </div>
    </form>
    <div id="messages"></div>

</div>

@section Scripts {

    <script>
        $("#form-modal").on('hide.bs.modal', function () {
            var idtrip = document.getElementById("group").value;
            connection.invoke("LeaveGroup", idtrip);
            $("#form-modal").removeClass("chat-modal");

        });

    </script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chat", {
                accessTokenFactory: () => "testing"
            })
            .build();

        connection.on("ReceiveMessage", function (message) {
            if (message.sender == '@Model.Sender') {
                var chatInfo = `<div class="mine messages animate__animated  animate__backInLeft"><i>[${message.date}][${message.user}]</i><div class="message">${escapeHtml(message.text)}</div></div>`;
            } else {
                var chatInfo = `<div class="yours messages animate__animated  animate__backInRight"><i>[${message.date}][${message.user}]</i><div class="message">${escapeHtml(message.text)}</div></div>`;
            }
            $("#messages").append(chatInfo);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
        document.getElementById("sendButton").addEventListener("click", function (event) {
            //let idtrip = document.querySelector('[id^="PrivateGroup#"]').value;
            //var idtrip = document.getElementById("group").value;
            var idtrip = document.getElementById("group").value;
            var message = document.getElementById("message").value;

                connection.invoke("SendMessageToGroup", idtrip, message, '@Model.Sender').catch(function (err) {
                    return console.error(err.toString());
                });

            $("#message").val('');
            event.preventDefault();
        });

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }


        $(document).ready(function () {
            $('#group').on('change', function () {

                var idtrip = document.getElementById("group").value;
                connection.invoke("LeaveGroup", idtrip);
                if (idtrip != "") {
                    var idtrip = document.getElementById("group").value;
                    connection.invoke("JoinGroup", idtrip);
                }
                $("#messages").html('');
            })
            })
    </script>
}