@model ChatViewModel
@{
    this.ViewBag.Title = "Chat";
    Layout = "/Views/Shared/_LayoutEmpty.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/assets/css/chat.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
}

<div class="chat" style="display:flex; justify-content:center;">

    <h1>@this.ViewBag.Title</h1>
    <form class="contact-form-1 rwt-dynamic-form">
        <div class="form-group">
            <select id="group">

                @foreach (var item in Model.TripsIds)
                {
                    var id = $"PrivateGroup#{item}";

                    <option value=@item>@id</option>
                }

            </select>
        </div>
    </form>
    @*    <div>
            <input type="button" id="joinGroup" value="Join Private Group" />
        </div>*@
    @*    <div>
            <input type="button" id="leaveGroup" value="Leave this chat" />
        </div>*@
    <textarea name="message" id="message" style="margin-top:10px;"></textarea>

    <button class="btn-default btn-details" type="button" style="margin-right: auto; margin-top: 10px; margin-left: auto; width: 120px !important;" id="sendButton">Send</button>

    <div id="messages"></div>
    @*    <div class="yours messages">
            <div class="message last">
                Dude
            </div>
        </div>

            <div class="mine messages">
                <div class="message last">
                    Dude
                </div>
            </div>
            <div class="yours messages">
                <div class="message">
                    Hey!
                </div>
            </div>
        </div>*@
</div>

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
                 
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chat", {
                accessTokenFactory: () => "testing"
            })
            .build();

        connection.on("ReceiveMessage", function (message) {
            if (message.sender == '@Model.Sender') {
                var chatInfo = `<div class="mine messages animate__animated  animate__backInLeft"><i>[${message.date}][${message.user}]</i><div class="message">${escapeHtml(message.text)}</div></div>`;
            } else {
                var chatInfo = `<div class="yours messages animate__animated  animate__backInRight"><i>[${message.date}][${message.user}]</i><div class="message">${escapeHtml(message.text)}</div></div>`;
            }
            $("#messages").append(chatInfo);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
        document.getElementById("sendButton").addEventListener("click", function (event) {
            //let idtrip = document.querySelector('[id^="PrivateGroup#"]').value;
            //var idtrip = document.getElementById("group").value;
            var idtrip = document.getElementById("group").value;
            var message = document.getElementById("message").value;

                connection.invoke("JoinGroup", idtrip).catch(function (err) {
                    return console.error(err.toString());
                });
                connection.invoke("SendMessageToGroup", idtrip, message, '@Model.Sender').catch(function (err) {
                    return console.error(err.toString());
                });


            event.preventDefault();
        });

        @*document.getElementById("joinGroup").addEventListener("click", function (event) {
            var idtrip = document.getElementById("group").value;
            connection.invoke("JoinGroup", idtrip).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });*@

       @* document.getElementById("leaveGroup").addEventListener("click", function (event) {
            var idtrip = document.getElementById("group").value;
            connection.invoke("LeaveGroup", idtrip).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });*@

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }

        window.onload = function () {
            var idtrip = document.getElementById("group").value;
            connection.invoke("JoinGroup", idtrip).catch(function (err) {
                return console.error(err.toString());
            })
        };

        @*window.onload
            var idtrip = document.getElementById("group").value;
            connection.invoke("JoinGroup", idtrip).catch(function (err) {
                return console.error(err.toString());
            }
        };*@
    </script>
}