@model ChatViewModel
@{
    this.ViewBag.Title = "Chat";
    Layout = "/Views/Shared/_LayoutEmpty.cshtml";
}

<h1>@this.ViewBag.Title</h1>

<textarea name="message" id="message"></textarea>
<select id="group">

    @foreach (var item in Model.TripsIds)
    {
        var id = $"PrivateGroup#{item}";

        <option value=@item>@id</option>
    }

</select>
<div>
    <input type="button" id="joinGroup" value="Join Private Group" />
</div>
<div>
    <input type="button" id="leaveGroup" value="Leave this chat" />
</div>
<input type="button" id="sendButton" value="Send Message" />

<div id="messages"></div>

@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chat", {
                accessTokenFactory: () => "testing"
            })
            .build();

        connection.on("ReceiveMessage", function (message) {
            var chatInfo = `<div>[${message.date}][${message.user}] said: ${escapeHtml(message.text)}</div>`;
            $("#messages").append(chatInfo);
        });

        connection.on("UserConnected", function (connectionId) {
            var groupElement = document.getElementById("group");
            var option = document.createElement("option");
            option.text = connectionId;
            option.value = connectionId;
            groupElement.add(option);
        });

        connection.on("UserDisconnected", function (connectionId) {
            var groupElement = document.getElementById("group");
            for (var i = 0; i < groupElement.length; i++) {
                if (groupElement.options[i].value == connectionId) {
                    groupElement.remove(i);
                }
            }
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        document.getElementById("sendButton").addEventListener("click", function (event) {
            //let idtrip = document.querySelector('[id^="PrivateGroup#"]').value;
            //var idtrip = document.getElementById("group").value;
            var idtrip = document.getElementById("group").value;
            var message = document.getElementById("message").value;
            if (true) {
                connection.invoke("SendMessageToGroup", idtrip, message).catch(function (err) {
                    return console.error(err.toString());
                });
            }

            event.preventDefault();
        });

        document.getElementById("joinGroup").addEventListener("click", function (event) {
            var idtrip = document.getElementById("group").value;
            connection.invoke("JoinGroup", idtrip).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });

        document.getElementById("leaveGroup").addEventListener("click", function (event) {
            var idtrip = document.getElementById("group").value;
            connection.invoke("LeaveGroup", idtrip).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }
    </script>
}