@model ErrorDTO
    <!-- Start Error-Area Area  -->
<div class="error-area ptb--200 ptb_sm--60 ptb_md--80">
    <div class="container">
        <div class="row align-item-center">
            <div class="col-lg-12">
                <div class="error-inner" style="position: relative;">

                    <div class="bar"></div>
                    @switch (Model.StatusCode)
                    {
                        case 404:
                            <iframe class="frame" src='https://my.spline.design/untitled-05e485ed55bd3df2bafb647aa1ce7b68/' frameborder='0' style="width: 100%; height:400px;"></iframe>
                            break;
                        case 401:
                            <iframe class="frame" src='https://my.spline.design/untitled-de71d9df166f492c5f6580f24d308787/' frameborder='0' style="width: 100%; height:400px;"></iframe>
                            break;
                        case 400:
                            <iframe class="frame" src='https://my.spline.design/untitled-de71d9df166f492c5f6580f24d308787/' frameborder='0' style="width: 100%; height:400px;"></iframe>
                            break;
                    }
                </div>
                <div class="error-inner">

                    <h2 class="title">Something’s not right.</h2>
                    <p class="description">
                        @Model.Message
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
