<div class="popup-mobile-menu">
    <div class="inner">
        <div class="header-top">
            <div class="logo">
                <a href="index.html">
                    <img class="logo-light" src="assets/images/logo/logo.png" alt="Corporate Logo">
                    <img class="logo-dark" src="assets/images/logo/logo-dark.png" alt="Corporate Logo">
                </a>
            </div>
            <div class="close-menu">
                <button class="close-button">
                    <i class="feather-x"></i>
                </button>
            </div>
        </div>
        <ul class="mainmenu">
            <li class="has-droupdown has-menu-child-item">
                <a href="#">Home</a>
                <ul class="submenu">
                    <li><a href="index-business-consulting.html">Business Consulting</a></li>
                    <li><a href="index-business-consulting-2.html">Business Consulting 02</a></li>
                    <li><a href="index-magazine.html">Magazine <span class="rn-badge-card">New</span></a></li>
                    <li><a href="index-corporate.html">Corporate</a></li>
                    <li><a href="index-business.html">Business</a></li>
                    <li><a href="index-digital-agency.html">Digital Agency</a></li>
                    <li><a href="index-finance.html">Finance</a></li>
                    <li><a href="index-company.html">Company</a></li>
                    <li><a href="index-marketing-agency.html">Marketing Agency</a></li>
                    <li><a href="index-travel-agency.html">Travel Agency</a></li>
                    <li><a href="index-consulting.html">Consulting</a></li>
                    <li><a href="index-seo-agency.html">SEO Agency</a></li>
                    <li><a href="index-personal-portfolio.html">Personal Portfolio</a></li>
                    <li><a href="index-event-conference.html">Event Conference</a></li>
                    <li><a href="index-creative-portfolio.html">Creative Portfolio</a></li>
                    <li><a href="index-freelancer.html">Freelancer</a></li>
                    <li><a href="index-international-consulting.html">International Consulting</a></li>
                    <li><a href="index-startup.html">Startup</a></li>
                    <li><a href="index-web-agency.html">Web Agency</a></li>
                </ul>
            </li>
            <li><a href="about.html">About</a></li>
            <li class="with-megamenu has-menu-child-item">
                <a href="#">Elements</a>
                <div class="rn-megamenu">
                    <div class="wrapper">
                        <div class="row row--0">
                            <div class="col-lg-3 single-mega-item">
                                <ul class="mega-menu-item">
                                    <li><a href="button.html">Button</a></li>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="counter.html">Counter</a></li>
                                    <li><a href="progressbar.html">Progressbar</a></li>
                                    <li><a href="accordion.html">Accordion</a></li>
                                    <li><a href="social-share.html">Social Share</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 single-mega-item">
                                <ul class="mega-menu-item">
                                    <li><a href="team.html">Team</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="testimonial.html">Testimonial</a></li>
                                    <li><a href="timeline.html">Timeline</a></li>
                                    <li><a href="tab.html">Tab</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="split.html">Split Section</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 single-mega-item">
                                <ul class="mega-menu-item">
                                    <li><a href="call-to-action.html">Call To Action</a></li>
                                    <li><a href="video.html">Video</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="brand.html">Brand</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="error.html">404</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 single-mega-item">
                                <ul class="mega-menu-item">
                                    <li>
                                        <a href="advance-tab.html">
                                            Advance Tab <span class="rn-badge-card">Hot</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Brand Carousel <span class="rn-badge-card">Comming</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="advance-pricing.html">
                                            Advance Pricing <span class="rn-badge-card">Hot</span>
                                        </a>
                                    </li>
                                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="has-droupdown has-menu-child-item">
                <a href="#">Blog</a>
                <ul class="submenu">
                    <li><a href="blog-grid.html">Blog Grid</a></li>
                    <li><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a></li>
                    <li><a href="blog-list-view.html">Blog List View</a></li>
                    <li><a href="blog-list-sidebar.html">Blog List View Sidebar</a></li>
                </ul>
            </li>

            <li class="has-droupdown has-menu-child-item">
                <a href="#">Portfolio</a>
                <ul class="submenu">
                    <li><a href="portfolio.html">Portfolio Default</a></li>
                    <li><a href="portfolio-three-column.html">Portfolio Three Column</a></li>
                    <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
                    <li><a href="portfolio-grid-layout.html">Portfolio Grid Layout</a></li>
                    <li><a href="portfolio-box-layout.html">Portfolio Box Layout</a></li>
                </ul>
            </li>

            <li><a href="contact.html">Contact</a></li>
        </ul>







    </div>
</div>
<!-- Start Theme Style  -->
<div>
    <div class="rn-gradient-circle"></div>
    <div class="rn-gradient-circle theme-pink"></div>
</div>
<!-- End Theme Style  -->
<!-- Start Slider Area  -->
<div class="slider-area slider-style-1 variation-default height-950 bg_image bg_image--5" data-black-overlay="2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner text-left">
                    
                    <h1 class="title theme-gradient display-two">
                        Rides <br>
                        <span class="header-caption">
                            <span class="cd-headline clip is-full-width">
                                <span class="cd-words-wrapper">
                                    <b class="is-visible theme-gradient">at low prices.</b>
                                    <b class="is-hidden theme-gradient">with friends.</b>
                                    <b class="is-hidden theme-gradient">Everywhere.</b>
                                </span>
                            </span>
                        </span>
                    </h1>
                    <ul class="list-icon">
                        <li>
                            <span class="icon background-transparent">
                                <i class="feather-check"></i>
                            </span> Your pick of rides at low prices.
                        </li>
                        <li>
                            <span class="icon background-transparent">
                                <i class="feather-check"></i>
                            </span> Trust who you travel with.
                        </li>
                        <li>
                            <span class="icon background-transparent">
                                <i class="feather-check"></i>
                            </span> Scroll, click, tap and go!
                        </li>
                    </ul>                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider Area  -->
<!-- Start Service Area  -->
<div class="rn-service-area rn-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                    <h4 class="subtitle ">
                        <span class="theme-gradient">What we can do for you</span>
                    </h4>
                    <h2 class="title w-600 mb--20">Services provide for you.</h2>
                    <p class="description b1">
                        There are many variations of passages of Lorem Ipsum
                        available, <br>but the majority have suffered alteration.
                    </p>
                </div>
            </div>
        </div>

        <div class="row row--15 service-wrapper">

            <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-duration="700">
                <div class="card-box card-style-1 text-left">
                    <div class="inner">
                        <div class="image">
                            <a href="#">
                                <img src="assets/images/services/serviice-01.jpg" alt="card Images">
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="title mb--20">
                                <a href="#">Awarded Design</a>
                            </h4>
                            <p class="description b1 color-gray mb--0">
                                Variations There are many of pass
                                ages of Lorem Ipsum available the majority.
                            </p>
                            <a class="btn-default btn-small btn-border" href="service.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                <div class="card-box card-style-1 text-left">
                    <div class="inner">
                        <div class="image">
                            <a href="#">
                                <img src="assets/images/services/serviice-02.jpg" alt="card Images">
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="title mb--20">
                                <a href="#">
                                    Design &
                                    Creative
                                </a>
                            </h4>
                            <p class="description b1 color-gray mb--0">
                                There are many variations
                                variats of passages of Lorem Ipsum available.
                            </p>
                            <a class="btn-default btn-small btn-border" href="service.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-duration="700" data-sal-delay="200">
                <div class="card-box card-style-1 text-left">
                    <div class="inner">
                        <div class="image">
                            <a href="#">
                                <img src="assets/images/services/serviice-03.jpg" alt="card Images">
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="title mb--20">
                                <a href="#">App Development</a>
                            </h4>
                            <p class="description b1 color-gray mb--0">
                                Passages there are many variatin Lorem
                                Ipsum available majority suffered.
                            </p>
                            <a class="btn-default btn-small btn-border" href="service.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-sal="slide-up" data-sal-duration="700" data-sal-delay="300">
                <div class="card-box card-style-1 text-left">
                    <div class="inner">
                        <div class="image">
                            <a href="#">
                                <img src="assets/images/services/serviice-04.jpg" alt="card Images">
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="title mb--20">
                                <a href="#">Web Design</a>
                            </h4>
                            <p class="description b1 color-gray mb--0">
                                Variations There are many of pass
                                ages of Lorem Ipsum available the majority.
                            </p>
                            <a class="btn-default btn-small btn-border" href="service.html">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Service Area  -->
<!-- Start Seperator Area  -->
<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<!-- End Seperator Area  -->
<!-- Start About Area  -->
<div class="rwt-about-area rn-section-gap">
    <div class="container">
        <div class="row row--30 align-items-center">
            <div class="col-lg-5">
                <div class="thumbnail" data-sal="slide-right" data-sal-duration="700">
                    <img class="w-100" src="assets/images/about/about-1.png" alt="About Images">
                </div>
            </div>
            <div class="col-lg-7 mt_md--40 mt_sm--40">
                <div class="content" data-sal="slide-left" data-sal-duration="700">
                    <div class="section-title">
                        <h4 class="subtitle"><span class="theme-gradient">Corporate About.</span></h4>
                        <h2 class="title mt--10">About Our Business.</h2>

                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed quod autem sequi
                            reprehenderit labore consequuntur excepturi voluptatibus omnis similique qui
                            unde eligendi tempora, ea at, laudantium nostrum minus pariatur quasi!
                        </p>

                        <ul class="list-icon">
                            <li>
                                <span class="icon">
                                    <i class="feather-check"></i>
                                </span> Track your teams progress with mobile app.
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="feather-check"></i>
                                </span> Lorem ipsum dolor sit amet consectetur adipisicing.
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="feather-check"></i>
                                </span> Ipsum dolor sit amet consectetur adipisicing.
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="feather-check"></i>
                                </span> Your teams progress with mobile app.
                            </li>
                        </ul>

                        <div class="read-more-btn mt--40">
                            <a class="btn-default btn-icon" target="_blank" href="#">
                                More About Us <i class="icon feather-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area  -->
<!-- Start Seperator Area  -->
<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<!-- End Seperator Area  -->
<!-- Start Main Counter Up Area  -->
<div class="rwt-counterup-area rn-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                    <h4 class="subtitle "><span class="theme-gradient">Clients Feedback.</span></h4>
                    <h2 class="title w-600 mb--20">Global Clients Around the World.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="count-box counter-style-2 text-center">
                    <div>
                        <div class="count-number"><span class="counter">199</span></div>
                    </div>
                    <h5 class="title">Happy Clients.</h5>
                    <p class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="count-box counter-style-2 text-center">
                    <div>
                        <div class="count-number"><span class="counter">575</span></div>
                    </div>
                    <h5 class="title">Employees</h5>
                    <p class="description">
                        Corporate Ipsum is simply dummy text of the printing and typesetting
                        industry
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="count-box counter-style-2 text-center">
                    <div>
                        <div class="count-number"><span class="counter">69</span></div>
                    </div>
                    <h5 class="title">Useful Programs</h5>
                    <p class="description">
                        Agency Ipsum is simply dummy text of the printing and typesetting
                        industry
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Counter Up Area  -->
<!-- Start Seperator Area  -->
<div class="rbt-separator-mid">
    <div class="container">
        <hr class="rbt-separator m-0">
    </div>
</div>
<!-- End Seperator Area  -->