#preloader {
    overflow: hidden;
    background: linear-gradient(225deg, #ff3c60 0%, #FF3CAC 24%, #2B86C5 75%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
}

#preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
}

#preloader .jumper > div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
}

    #preloader .jumper > div:nth-child(2) {
        -webkit-animation-delay: 0.33333s;
        animation-delay: 0.33333s;
    }

    #preloader .jumper > div:nth-child(3) {
        -webkit-animation-delay: 0.66666s;
        animation-delay: 0.66666s;
    }

@-webkit-keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.form-error {
    color: #ff2e2e;
}

body.active-light-mode .form-error {
    color: red;
}

.modal-alert{
    color: #3b3b3b;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #f5f5f5 !important;
    -webkit-box-shadow: 0 0 0px 1000px #2b2b2b inset;
}
body.active-light-mode input:-webkit-autofill {
    -webkit-text-fill-color: #2b2b2b !important;
    -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset;
}

.holder {
    width: 800px;
    height: 400px;
    position: relative;
}
.holder error {
    width: 100%;
    height: 200px;
    right:0;
}
.frame {
    width: 100%;
    height: 100%;
    right:0;
    
}

.bar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background-color: #060606;
    z-index: 0;
}
body.active-light-mode .bar {
    background-color: white;
}
.modal{
    z-index: 999;
}
.modal-backdrop{
    z-index: 0;
}
.modal-content{
    background-color: #2b2b2b;
}

body.active-light-mode .modal-content {
    background-color: white;
}

body.active-light-mode .modal-body .main-content {
    background-color: white;
}