#full-stars-example-two .rating-group {
    display: inline-flex;
}

/* make hover effect work properly in IE */
#full-stars-example-two .rating__icon {
    pointer-events: none;
}

/* hide radio inputs */
#full-stars-example-two .rating__input {
    position: absolute !important;
    left: -9999px !important;
    visibility: hidden !important;
    display: none !important;
}

/* hide 'none' input from screenreaders */
#full-stars-example-two .rating__input--none {
    display: none!important;
    visibility: hidden!important;
}

/* set icon padding and size */
#full-stars-example-two .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}

/* set default star color */
#full-stars-example-two .rating__icon--star {
    color: orange;
}

/* if any input is checked, make its following siblings grey */
#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}

/* make all stars orange on rating group hover */
#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
}

/* make hovered input's following siblings grey on hover */
#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
}

#full-stars-example-two body {
    padding: 1rem;
    text-align: center;
}



.table-custom {
    border-collapse: collapse !important;
    border-radius: 15px;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

    .table-custom th {
        padding: .75rem;
        vertical-align: top;
        border-bottom: 1px solid #dee2e6;
    }

.active-dark-mode .table-custom {
    box-shadow: 0 0 10px rgba(250,250,250,0.6);
    -moz-box-shadow: 0 0 10px rgba(250,250,250,0.6);
    -webkit-box-shadow: 0 0 10px rgba(250,250,250,0.6);
    -o-box-shadow: 0 0 10px rgba(250,250,250,0.6);
}

.btn-get-custom {
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
    margin-bottom: 10px;
}

.btn-post-custom {
    color: #fff;
    background-color: #f09826;
    border-color: #f09826;
    margin-bottom: 10px;
}

.btn-update-custom {
    color: #fff;
    background-color: #555abd;
    border-color: #555abd;
    margin-bottom: 10px;
}

.btn-delete-custom {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    margin-bottom: 10px;
}

#footer-main {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#preloader {
    overflow: hidden;
    background: linear-gradient(225deg, #ff3c60 0%, #FF3CAC 24%, #2B86C5 75%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
}

    #preloader .jumper {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        position: absolute;
        margin: auto;
        width: 50px;
        height: 50px;
    }

        #preloader .jumper > div {
            background-color: #fff;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            position: absolute;
            opacity: 0;
            width: 50px;
            height: 50px;
            -webkit-animation: jumper 1s 0s linear infinite;
            animation: jumper 1s 0s linear infinite;
        }

            #preloader .jumper > div:nth-child(2) {
                -webkit-animation-delay: 0.33333s;
                animation-delay: 0.33333s;
            }

            #preloader .jumper > div:nth-child(3) {
                -webkit-animation-delay: 0.66666s;
                animation-delay: 0.66666s;
            }

@-webkit-keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    5% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.form-error {
    color: #ff2e2e;
}

    .form-error li {
        color: #ff2e2e;
    }

body.active-light-mode .form-error {
    color: red;
}

    body.active-light-mode .form-error li {
        color: red;
    }

.modal-alert {
    color: #3b3b3b;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #f5f5f5 !important;
    -webkit-box-shadow: 0 0 0px 1000px #2b2b2b inset;
}

body.active-light-mode input:-webkit-autofill {
    -webkit-text-fill-color: #2b2b2b !important;
    -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset;
}

.holder {
    width: 800px;
    height: 400px;
    position: relative;
}

    .holder error {
        width: 100%;
        height: 200px;
        right: 0;
    }

.frame {
    width: 100%;
    height: 100%;
    right: 0;
}

.bar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    background-color: #060606;
    z-index: 0;
}

body.active-light-mode .bar {
    background-color: white;
}

.modal {
    z-index: 999;
}

.modal-backdrop {
    z-index: 0;
}

.modal-content {
    background-color: #2b2b2b;
}

body.active-light-mode .modal-content {
    background-color: white;
}

body.active-light-mode .modal-body .main-content {
    background-color: white;
}

.chat-modal {
    margin-top:20vh;
    max-height: 520px !important;
}
.swal-wide {
    width: 850px;
    background-color: red;
}


.swal-wide {
    height: 220px !important;
    background-color: rgba(255, 255, 255, .15) !important;
    backdrop-filter: blur(5px) !important;
}

.swal-contact {
    background-color: rgba(255, 255, 255, .15) !important;
    backdrop-filter: blur(5px) !important;
}

.swal-trip {
    width: 400px !important;
    overflow-y: auto!important   ;
    background-color: rgba(255, 255, 255, .15) !important;
    backdrop-filter: blur(5px) !important;
}

.swal-title {
    color: white !important;
}

.active-light-mode .swal-title {
    color: black !important;
}

.swal2-validation-message {
    background-color: rgba(255, 255, 255, .15) !important;
    backdrop-filter: blur(5px) !important;
    font-size: 1.8em !important;
    color: white !important;
    padding: 5px;
}

.active-light-mode .swal2-validation-message {
    color: black !important;
}

.swal2-confirm {
    height: 40px !important;
    width: 90px !important;
    font-size: 1.4em !important;
}

::file-selector-button {
    display: none;
}

.file-selector {
    padding: 25px !important;
    border-radius: 50% !important;
    width: 100px !important;
    height: 100px !important;
}
/*.settings {
    border-radius: 50%;
    height: 45px;
}*/

.active-light-mode .my_switcher ul li a {
    background: #059DFF;
}
/*.settings-btn :active {
    color: red !important;
    background: red !important;
}*/

.top-users {
    display: flex !important;
}

.top-users-mobile {
    display: inline-block !important;
}

.top-users-individual {
    margin: 2vw;
    display: block;
}

.top-users-mobile .top-users-individual {
    margin-top: 40px;
}

.custom-btn {
    background-color: #FF3CAC !important;
    color: #fff;
    cursor: pointer;
}

.active-light-mode .custom-btn {
    background-color: #059DFF !important;
}

.custom-btn:hover {
    color: white !important;
}

.active-light-mode .custom-btn:hover {
    color: white !important;
}

.btn-details {
    height: 40px !important;
    line-height: 15px !important;
    width: 70px !important;
    font-size: 16px !important;
    padding: 0 !important;
    cursor: pointer !important;
}
.active-dark-mode .btn-details {
    background-color: #1cae6a!important;
}

    .active-dark-mode .dark-theme {
        background-color: #FF3CAC!important;
    }



::-webkit-scrollbar {
    display: none!important;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 100px;
    right: 30px;
    background-color: #0C9;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    margin-top: 80px;
}