@model RequestAuthDTO

<div class="rwt-split-area rn-section-gap">
    <div class="wrapper">
        <div class="rn-splite-style">
            <div class="split-wrapper">
                <div class="row g-0 radius-10 align-items-center">
                    <div class="col-lg">
                        <div class="thumbnail">
                            <div class="holder">
                                <div class="bar"></div>
                                <iframe class="frame" src='https://my.spline.design/untitled-20a01508e4e7e17035ec080f3eb43c3f/' frameborder='0' style="width: 800px; height:400px;"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="margin-right:30px;">
                        <form asp-action="Login" class="contact-form-1 rwt-dynamic-form">
                            <div class="form-group">
                                <input asp-for="Email" placeholder="Your Email">
                                <span asp-validation-for="Email" class="form-error"></span>

                            </div>
                            <div class="form-group">
                                <input asp-for="Password" type="password" placeholder="Password">
                                <span asp-validation-for="Password" class="form-error"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn-default btn-large rn-btn"
                                        style="background-color: #FF3CAC; cursor: pointer;">
                                    <span>Log In</span>
                                </button>
                                <a style="margin-left:10px;" asp-controller="Auth" asp-action="ForgotPassword">Forgot Password?</a>
                                <a style="margin-left:10px;" asp-controller="Auth" asp-action="Register">Register</a>
                                <a style="margin-left:10px;" asp-controller="Auth" asp-action="GoogleLogin">Sign up with Google</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
