@model SettingsDTO

<div class="rwt-split-area rn-section-gap">
    <div class="wrapper">
        <div class="rn-splite-style">
            <div class="split-wrapper">
                <div class="row g-0 radius-10 align-items-center">
                    <div class="col-lg">
                        <div class="thumbnail">
                            <div class="holder">
                                <div class="bar"></div>
                                <iframe class="frame" src='https://my.spline.design/untitled-05e485ed55bd3df2bafb647aa1ce7b68/' frameborder='0' style="width: 800px; height:400px;"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="margin-right:30px;">
                        <form asp-action="Settings" class="contact-form-1 rwt-dynamic-form" encType="multipart/form-data">
                            <div style="display:flex; justify-content:space-between; margin-bottom:20px;">
                                <a class="btn-read-more" href="javascript:ChangeMenu('pic')"><span>Profile Picture </span></a>
                                <a class="btn-read-more" href="javascript:ChangeMenu('personal')"><span>Personal Data</span></a>
                                <a class="btn-read-more" href="javascript:ChangeMenu('security')"><span>Security</span></a>
                                <a class="btn-read-more" href="javascript:ChangeMenu('address')"><span>Address Information</span></a>
                            </div>
                            <div class="form-group pic">
                                <input asp-for="ProfilePicture" placeholder="Username" accept="image/*">
                                <span asp-validation-for="ProfilePicture" class="form-error"></span>
                            </div>

                            <div class="form-group personal">
                                <input asp-for="Username" placeholder="Username">
                                <span asp-validation-for="Username" class="form-error"></span>
                            </div>

                            <div class="form-group" personal>
                                <input asp-for="FirstName" placeholder="First Name">
                                <span asp-validation-for="FirstName" class="form-error"></span>
                            </div>

                            <div class="form-group personal">
                                <input asp-for="LastName" placeholder="Last Name">
                                <span asp-validation-for="LastName" class="form-error"></span>
                            </div>

                            <div class="form-group personal">
                                <input asp-for="Email" placeholder="Your Email">
                                <span asp-validation-for="Email" class="form-error"></span>
                            </div>
                            @if (!Model.IsGoogleAccount)
                            {
                                <div class="form-group security">
                                    <input asp-for="Password" placeholder="Your Password">
                                    <span asp-validation-for="Password" class="form-error"></span>
                                </div>

                                <div class="form-group security">
                                    <input asp-for="NewPassword" placeholder="New Password">
                                    <span asp-validation-for="NewPassword" class="form-error"></span>
                                </div>
                            }
                            <div class="form-group security">
                                <input asp-for="PhoneNumber" placeholder="Your phone number">
                                <span asp-validation-for="PhoneNumber" class="form-error"></span>

                            </div>

                            <div class="form-group address">
                                <select asp-for="Country" asp-items="Model.Countries" placeholder="Country Name">
                                    <option value="">Select Country</option>
                                </select>
                                <span asp-validation-for="Country" class="form-error"></span>

                            </div>

                            <div class="form-group address">
                                <input asp-for="City" placeholder="City">
                                <span asp-validation-for="City" class="form-error"></span>
                            </div>

                            <div class="form-group address">
                                <input asp-for="Address" placeholder="Address">
                                <span asp-validation-for="Address" class="form-error"></span>
                            </div>

                            <div class="form-group" id="submit-form">
                                <div asp-validation-summary="All" class="form-error"></div>

                                <button type="submit" class="btn-default btn-large rn-btn"
                                        style="background-color: #FF3CAC; cursor: pointer;">
                                    <span>Save</span>
                                </button>
                                <a style="margin-left:10px;" href="javascript:RemoveAccount();">Remove account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $('.form-group').hide();
        $('#submit-form').show();
        $('.pic').show();
        function ChangeMenu(tag) {
            $('.form-group').hide();
            $(`.${tag}`).show();
            $('#submit-form').show();
        }
    </script>
    <script>
        function RemoveAccount() {
            Swal.fire({
                title: '<h4 class="swal-title"> Type "delete" to confirm! </h4>',

                input: 'text',
                width: 400,
                backdrop: false,
                customClass: 'swal-wide',
                showCloseButton: true,
                inputAttributes: {
                    autocapitalize: 'on'
                },
                confirmButtonText: 'Confirm',
                showLoaderOnConfirm: true,
                preConfirm: (key) => {
                    if (key.toLowerCase() == 'delete') {
                        $.ajax({
                            type: 'DELETE',
                            url: '//localhost:5001/Auth/DeleteGoogleAccount',
                            success: function () {
                                window.open("https://localhost:5001/", "_self");
                            }
                        })
                    }
                },
                allowOutsideClick: () => !Swal.isLoading()
            })
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
