@model SettingsDTO

<div class="rwt-split-area rn-section-gap">
    <div class="wrapper">
        <div class="rn-splite-style">
            <div class="split-wrapper">
                <div class="row g-0 radius-10 align-items-center">
                    <div class="col-lg">
                        <div class="thumbnail">
                            <div class="holder">
                                <div class="bar"></div>
                                <iframe class="frame" src='https://my.spline.design/noisedisplacecopy-11481c1cb7e92b46bddb6e8c6d0a0c04/' frameborder='0' style="width: 800px; height:400px;"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="margin-right:30px;">
                        <form asp-action="Settings" class="contact-form-1 rwt-dynamic-form" encType="multipart/form-data">

                            <div class="form-group">
                                <input asp-for="ProfilePicture" placeholder="Username" accept="image/*">
                                <span asp-validation-for="ProfilePicture" class="form-error"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Username" placeholder="Username">
                                <span asp-validation-for="Username" class="form-error"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="FirstName" placeholder="First Name">
                                <span asp-validation-for="FirstName" class="form-error"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="LastName" placeholder="Last Name">
                                <span asp-validation-for="LastName" class="form-error"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Email" placeholder="Your Email">
                                <span asp-validation-for="Email" class="form-error"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Password" placeholder="Your Password">
                                <span asp-validation-for="Password" class="form-error"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="NewPassword" placeholder="New Password">
                                <span asp-validation-for="NewPassword" class="form-error"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="PhoneNumber" placeholder="Your phone number">
                                <span asp-validation-for="PhoneNumber" class="form-error"></span>

                            </div>

                            <div class="form-group">
                                <select asp-for="Country" asp-items="Model.Countries" placeholder="Country Name">
                                    <option value="">Select Country</option>
                                </select>
                                <span asp-validation-for="Country" class="form-error"></span>

                            </div>

                            <div class="form-group">
                                <input asp-for="City" placeholder="City">
                                <span asp-validation-for="City" class="form-error"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Address" placeholder="Address">
                                <span asp-validation-for="Address" class="form-error"></span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn-default btn-large rn-btn"
                                        style="background-color: #FF3CAC; cursor: pointer;">
                                    <span>Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewData.ContainsKey("MessageSent") && (bool)ViewData["MessageSent"] == true)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        function OpenWindow() {
            window.open("https://localhost:5001/", "_self")
        }

        function JSalert() {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: '<h4 class="modal-alert"> A confirmation email has been sent to you </h4>',
                showConfirmButton: false,
                confirmButtonColor: '#3085d6'
                //timer: 5000
            }).then((result) => {
                OpenWindow();
            })

        }

        JSalert();

    </script>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
