@model UpdatePasswordViewModel

<div class="rwt-split-area rn-section-gap">
    <div class="wrapper">
        <div class="rn-splite-style">
            <div class="split-wrapper">
                <div class="row g-0 radius-10 align-items-center">
                    <div class="col-lg">
                        <div class="thumbnail">
                            <div class="holder">
                                <div class="bar"></div>
                                <iframe class="frame" src='https://my.spline.design/untitled-83245c1d3957c6bfd0268990e6d3a998/' frameborder='0' style="width: 800px; height:400px;"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="margin-right:30px;">
                        <form action=UpdatePassword method="post" class="contact-form-1 rwt-dynamic-form">
                            
                            <div class="form-group">
                                <input asp-for="Password" placeholder="New password">
                                <span asp-validation-for="Password" class="form-error"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="ConfirmPassword" placeholder="Confirm password">
                                <span asp-validation-for="ConfirmPassword" class="form-error"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-default btn-large rn-btn"
                                        style="background-color: #FF3CAC; cursor: pointer;">
                                    <span>Update Password</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewData.ContainsKey("PasswordUpdated") && (bool)ViewData["PasswordUpdated"] == true)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

        function OpenWindow() {
            window.open("@GlobalConstants.Domain", "_self")
        }

        function JSalert() {
            Swal.fire({
                position: 'center',
                backdrop: false,
                customClass: 'swal-contact',
                title: '<h5 class="swal-title"> Your password was updated! </h5>',
                showConfirmButton: false,
                timer: 2500
            }).then((result) => {
                OpenWindow();
            })

        }

        JSalert();
    </script>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
