@model TripViewModel
@{ Layout = "/Views/Shared/_LayoutEmpty.cshtml"; }

<form asp-action="Create" class="contact-form-1 rwt-dynamic-form">
    <div class="form-group">
        <input asp-for="OriginCountry" placeholder="Origin Country">
        <span asp-validation-for="OriginCountry" class="form-error"></span>

    </div>

    <div class="form-group">
        <input asp-for="OriginCity" placeholder="Origin City">
        <span asp-validation-for="OriginCity" class="form-error"></span>

    </div>

    <div class="form-group">
        <input asp-for="DestinationCity" placeholder="Destination City">
        <span asp-validation-for="DestinationCity" class="form-error"></span>
    </div>
    <div class="form-group">
        <input asp-for="DestinationCountry" placeholder="Destination Country">
        <span asp-validation-for="DestinationCountry" class="form-error"></span>
    </div>
    <div class="form-group">

        <input asp-for="Date" type="date" placeholder="When">
        <span asp-validation-for="Date" class="form-error"></span>
    </div>

    <div class="form-group">
        <input asp-for="FreeSeats" placeholder="How many free seats do you have?">
        <span asp-validation-for="FreeSeats" class="form-error"></span>
    </div>

    <div class="form-group">
        <input asp-for="AdditionalComment" placeholder="Any additional comment?">
        <span asp-validation-for="AdditionalComment" class="form-error"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn-default btn-large rn-btn"
                style="background-color: #FF3CAC; cursor: pointer;">
            <span>Create</span>
        </button>
    </div>
</form>