@model TripViewModel

<div class="rwt-split-area rn-section-gap">
    <div class="wrapper">
        <div class="rn-splite-style">
            <div class="split-wrapper">
                <div class="btn"><a class="btn-default text-underline btn-small" asp-controller="Trip" asp-action="MyTrips">My Trips</a></div>
                <div id="view-all" class="row g-0 radius-10 align-items-center">

                    @await Html.PartialAsync("_TableTrips", Model)

                </div>
            </div>
        </div>
    </div>
</div>
