@model TripViewModel

<div class="rwt-split-area rn-section-gap">
    <div class="wrapper">
        <div class="rn-splite-style">
            <div class="split-wrapper">


                <div class="row g-0 radius-10 align-items-center" id="upcoming-trips">

                    @await Html.PartialAsync("_TableMyTrips", Model)

                </div>
                <div class="row g-0 radius-10 align-items-center" id="past-trips">

                    @await Html.PartialAsync("_TableMyTripsPast", Model)

                </div>

                <div class="row g-0 radius-10 align-items-center" id="manage-trips">

                    @await Html.PartialAsync("_TableManageMyTrips", Model)

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}
